@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Roboto", serif;
  cursor: default;
}

#cursor {
  @apply fixed top-0 left-0 h-[30px] w-[30px] bg-white rounded-full pointer-events-none text-black;
  z-index: 999999;
  mix-blend-mode: exclusion;
  transform-origin: center;
  transform: translate(-50%, -50%);
}

.dim-effect::before {
  opacity: 0.4;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
}

.image-rendering-pixelated {
  image-rendering: pixelated;
}

::-webkit-scrollbar {
  display: none;
}

.custom-scrollbar {
  position: fixed;
  top: 0;
  @apply left-auto right-0 md:left-[98px] md:right-auto;
  height: 100vh;
  width: 4px;
  border-radius: 5px;
  z-index: 1000;
}

.custom-scrollbar-thumb {
  width: 100%;
  height: 50px;
  background: white;
  border-radius: 5px;
  position: absolute;
  top: 0;
}

.border-custom {
  border-color: hsla(0, 0%, 100%, 0.07);
}

.top-border::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 58px;
  height: 2px;
  background-color: white;
  transition: all 0.5s;
}
.top-border::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 89px;
  height: 2px;
  background-color: white;
  transition: all 0.5s;
}
.bottom-border::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 78px;
  height: 2px;
  background-color: white;
  transition: all 0.5s;
}
.bottom-border::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 68px;
  height: 2px;
  background-color: white;
  transition: all 0.5s;
}

.btn:hover .top-border::before {
  width: 160px;
}

.btn:hover .top-border::after {
  width: 0;
}
.btn:hover .bottom-border::after {
  width: 160px;
}

.btn:hover .bottom-border::before {
  width: 0;
}

.title {
  letter-spacing: 2px;
  @apply font-Poppins text-white text-[55px] font-semibold leading-[1.4];
}

.para {
  @apply leading-[1.6] max-w-[570px] text-center text-grey-500 font-normal bg-black;
}

.prompt {
  letter-spacing: 3px;
  font-size: 16px;
  line-height: 1.6;
  font-weight: 400;
}

.design::before {
  content: "";
  width: 100px;
  height: 25px;
  @apply bg-grey-900 absolute right-[80px] top-0 z-[-1];
  transform: skew(-10deg);
}

.form-input {
  font-size: 16px;
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1.5px solid hsla(0, 0%, 100%, .07);
  padding-bottom: 10px;
  color: var(--font-color);
  margin-top: 10px;
  margin-bottom: 0;
  letter-spacing: -.5px;
}
.line{
  width: 80px;
  height: 1px;
  background-color: hsla(0, 0%, 100%, 0.07);
}

.design::after{
  content: "";
  position: absolute;
  width: 100px;
  height: 30px;
  top: 0;
  z-index: -1;
  left: 0px;
  transform: skew(-20deg);
  @apply bg-grey-900;
}
